/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-family: prenton, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: hsla(0, 0%, 25%, 1);
	background: hsla(40, 15%, 95%, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: adonis-web, serif;
	font-weight: 600;
	color: hsla(0, 0%, 0%, 1);

	/* color for the line below the headers */
	/* border-bottom: solid 0.2rem hsla(15, 85%, 50%, 1); */
}

.logo {
	position: absolute;
	display: grid;
	place-content: center;
	font-family: lamar-pen, sans-serif;
	font-size: calc(45px + (60 - 20) * ((100vw - 350px) / (1600 - 350)));
	width: 100%;
	margin: 0;
	/* background: hsla(40, 15%, 95%, 0.25); Will be used on the images filter property*/
	transform: translateY(40vh);
	z-index: 1;
}

/* svg filter for images in slider for better readability of logo */
.no-content {
	position: fixed;
	width: 0.1px;
	height: 0.1px;
}

/* .slideshow {
  width: 100%;
  height: calc(100vh - 45px);
  object-fit: cover;
  filter: url('#colorFilter');
} */

/* SLIDE SHOW */
/* updated classes for slide show */
.slideContainer {
	display: grid;
	grid-template-columns: repeat(5, 100vw);
	overflow-x: hidden;
}

.slide {
	width: 100vw;
	height: calc(100vh - 44px);
	object-fit: cover;
	filter: url("#colorFilter");
}

/* Slides animation */
.moveSlide {
	animation: moveLeft 0.3s ease-out forwards;
}

@keyframes moveLeft {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100vw);
	}
}
/* SPECIALS */
.specials {
	display: grid;
	grid-template-columns: minmax(250px, 80vw);
	place-content: center;
	margin: 5rem 1rem;
}
.specials-title {
	text-transform: uppercase;
	text-align: center;
	border-bottom: solid 0.1rem hsla(15, 85%, 50%, 1);
	font-size: 1.6rem;
	margin: 0 0 3rem 0;
}
.specials-list {
	list-style-type: none;
	padding: 0;
	margin: 1rem;
	display: grid;
	grid-template-columns: repeat(3, minmax(250px, 70vw));
	grid-gap: 1rem;
	place-content: center;
	text-align: center;
	font-size: 1.3rem;
}

.specials-image {
	height: 200px;
	width: 22vw;
	margin: 1rem 0;
	object-fit: cover;
	object-position: 50% 50%;
	place-self: center;
}

#page-nav {
	width: 100%;
	background: #fff;
	z-index: 2;
}

.fixed-nav nav {
	position: fixed;
	box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

#page-nav label,
#hamburger {
	display: none;
}

#page-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#page-nav ul li {
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
}

#page-nav ul li a {
	color: #000;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 15px;
	padding: 5px 0;
	border: 2px solid transparent;
	letter-spacing: 0.5px;
	margin: 0 40px 0 40px;
}

#page-nav ul li a:link {
	text-decoration: none;
}

.menu {
	margin: 15px;
	background-color: #fff;
}

.menu h1,
.menu h2,
.menu h3,
.menu p {
	text-align: center;
}

.menu h1 {
	font-weight: 400;
	font-size: 38px;
	color: #333;
	text-transform: uppercase;
}

.menu h2 {
	text-decoration: underline;
}

.menu ul {
	list-style-type: none;
}

.photography {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	align-items: flex-start;
	justify-content: center;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

.chef {
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-content: center;
	grid-column-gap: 2rem;
	margin: 5rem auto;
	max-width: 70%;
}

.chef-image {
	height: 60vh;
	width: 28vw;
	object-fit: cover;
	object-position: 50% 25%;
	place-self: center;
}

.chef-story {
	place-self: center;
	width: 35vw;
	max-width: 400px;
}

.our-image {
	height: 60vh;
	width: 48vw;
	object-fit: cover;
	object-position: 50% 25%;
	place-self: center;
}
.our-title {
	line-height: 1;
	margin: 0;
	border-bottom: hsla(15, 85%, 50%, 1) solid 0.1rem;
}

.story {
	display: grid;
	grid-template-columns: 50vw 50vw;
	place-content: center;
	margin: 5rem 0;
}

.story-details {
	place-self: center;
	width: 35vw;
	max-width: 400px;
}

.display {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-content: center;
}

.display-meal {
	width: 100%;
	height: 35vh;
	object-fit: cover;
	object-position: 50% 50%;
	overflow: hidden;
}
footer {
	background: hsla(0, 0%, 20%, 1);
	color: hsla(40, 15%, 85%, 1);
	display: grid;
	grid-template-columns: repeat(3, 250px);
	grid-column-gap: 0.5rem;
	border-top: solid 0.2rem hsla(15, 85%, 50%, 1);
	place-content: center;
	padding: 0 0 2rem 0;
	text-align: center;
}

footer h3 {
	color: hsla(40, 15%, 95%, 1);
	margin: 0;
	padding: 0;
	line-height: 1;
}

.newsletter {
	grid-column: 1 / -1;
	padding: 2rem 0;
}

.newsletter button {
	background: hsla(15, 85%, 50%, 1);
	border: none;
	padding: 0.5rem 0.75rem;
	color: hsla(40, 15%, 95%, 1);
}

.newsletter input {
	padding: 0.5rem 1rem;
	margin: 0 0.5rem 0 0;
	color: hsla(0, 0%, 25%, 1);
}

.social h3 {
	margin: 0 0 3.5rem 0;
}

.social p {
	transform: translateY(-30px);
}

.social span {
	padding: 0.5rem 0.75rem;
	background: hsla(15, 85%, 50%, 1);
	margin: 0 0.15rem;
	border-radius: 0.15rem;
	transition: 0.2s;
}

.social span:hover {
	cursor: pointer;
	transition: 0.2s;
	color: #fff;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 838px) {
	#page-nav label {
		display: inline-block;
		color: #fff;
		background: #000;
		font-style: normal;
		font-size: 1.2em;
		padding: 10px;
	}
	/* Break down menu items into vertical*/

	#page-nav ul li {
		display: block;
	}

	#page-nav ul li {
		border-top: 1px solid #333;
	}

	/* Toggle Show/hide menu on the checkbox click */

	#page-nav ul {
		display: none;
	}

	#page-nav input:checked ~ ul {
		display: block;
	}
}

@media only screen and (max-width: 800px) {
	.specials-list {
		display: grid;
		grid-template-columns: minmax(250px, 70vw);
		transition: all 0.25s linear;
	}
	.specials-image {
		height: 150px;
		width: 50vw;
		margin: 0.5rem 0;
		object-fit: cover;
		object-position: 50% 50%;
	}
	.story {
		display: grid;
		grid-template-columns: minmax(350px, 1fr);
	}
	.story-details {
		width: 350px;
	}
	.our-image {
		height: 30vh;
		width: 90vw;
	}

	.chef {
		display: grid;
		grid-template-columns: 1fr;
	}
	.chef-image {
		height: 40vh;
		width: 80vw;
	}
	.chef-story {
		margin: 1rem 0;
		width: 350px;
	}
	footer {
		display: grid;
		grid-template-columns: minmax(350px, 1fr);
		grid-gap: 2rem;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
